{
   "serverReportsWebhookChannelId": [],
   "serverReportsDiscordChannelId": "",
   "servers": {
      "server1": {
         "name": "server1",
         "apiBaseUrl": "https://rcon1.pzjr.pl/api/"
      },
      "server2": {
         "name": "server2",
         "apiBaseUrl": "https://rcon2.pzjr.pl/api/"
      },
      "server3": {
         "name": "server3",
         "apiBaseUrl": "https://rcon3.pzjr.pl/api/"
      },
      "server4": {
         "name": "server4",
         "apiBaseUrl": "https://rcon4.pzjr.pl/api/"
      },
      "server5": {
         "name": "server5",
         "apiBaseUrl": "https://rcon5.pzjr.pl/api/"
      }
   },
   "hllAdminDiscordRole": "",
   "devlockEnabled": false,
   "gitPullEnabled": false,
   "devUsers": ["351598984529313812"],
   "colors": {
      "primary": "#426fc2",
      "error": "#f04343",
      "warning": "#f2df33",
      "success": "#4df055",
      "neutral": "#286feb"
   },
   "images": {
      "logo": "https://cdn.discordapp.com/attachments/919314258850885732/1329144559816671292/360.png?ex=678945d5&is=6787f455&hm=3a8fd5ac57f8854822f33eb9f52f21e7d91c27b3cfc3dbd4d6b3b586fa7132ae&"
   }
}